.optionclasstry{
    /* background-color: red; */
    margin-left: 60px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    background-color: rgb(255, 255, 255);
}
.btn{
    margin-top: 10PX;
    margin-right: 5px;
}
.optionclass{
    padding-top: 25px;
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    background-color: rgb(255, 255, 255);
}
.bold{
    margin-right: 20px;
}
.features-para{
    margin: 6px 5px 6px 5px;
    width: 350px;
    
}
.rakhi{
    width: 100%;
    padding: 15px;
}
.container-opt{
    margin-left: 15px;
}
section{
    margin-left: 25px;
}
.titlehr{
    height: 2px;
    background: black;
    margin: 0px 0px;
}
.titlepara{
    text-align: center;
    margin: 5px;
   
}
.logo{

    width: 120px;
    padding-left: 0%;
}
.container-fluid{
    padding-left: 0%;
}
.carousel-inner{
    width: 70%;
    position: relative;
    left: 200px;
    text-align: center;
}
.carousel slide{
    text-align: center;
}
.glass-text{
    margin-left: 15px;
}
.carousel-control{
    color: black;
}
.footer{
    background-color: #000042;
    color: #CECEDF;;
}
.foot{
    padding: 20px 0px 20px 0px;
}
.footer-text{
    font-size: 80%;
   
}
.titlehrnew{
    width: 70%;
    height: 5px;
}
.glasses{
    display: inline-block;
    padding-right: 150px;
    margin-bottom: 0px;
}
li{
    list-style: none;
    font-size: 80%;
    
}
ul{
    padding-left: 5px;
}
.container-opt {
    
    color: black; /* Add your text color here */
    padding: 10px 0; /* Add padding as needed */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .optionclass {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add margin between the navigation items */
  }
  
  .optionclasstry {
    display: flex;
    justify-content: flex-end; /* Align the buttons to the right */
    align-items: center;
  }
  
  /* Style for buttons */
  .btn {
    margin-right: 10px; /* Add margin between the buttons */
  }
  